@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-font: 'Poppins', sans-serif;
  --white: #c9d1d9;
  --offwhite: #e9e9e9;
  --grey: #3a3a3a;
  --light-grey: #5e5e5e;
  --brown: #661b1b;
  --black: #0d1117;
  --font-color: #fbf1e8;
  --red-color: #e52828;
}

/* buttons */
* a:hover {
  text-decoration: none;
  filter: brightness(70%);
}

* button {
  outline: none;
}

pre {
  overflow-x: hidden;
}

.preDark,
.preDark a {
  cursor: pointer;
  color: var(--white);
}

.preLight,
.preLight a {
  color: var(--black);
}

.fadeout {
  animation: 1s fade;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media all and (min-width: 0) {
  .wrapper {
    width: 85%;
    margin: auto;
  }

  .useapp {
    overflow-x: scroll;
    width: 85%;
    margin: auto;
  }

  .hero-text p {
    font: 1.5rem/2rem var(--primary-font);
    letter-spacing: 0.04em;
    font-weight: 500;
  }

  .hero-text {
    padding: 10rem 0;
  }

  .hero-text h1,
  .key-features-header,
  .about-section h2,
  .team-wrapper h1,
  .community-wrapper h1 {
    font: 2rem/2.5rem var(--primary-font);
    font-weight: bold;
    margin: 0 0 1rem 0;
    letter-spacing: 0.04em;
  }

  .dark-about-card {
    background: #161b22;
  }

  .light-about-card {
    background: #fff;
  }

  /* about section */
  .about-section {
    padding: 3rem 0;
  }

  .about-wrapper div p,
  .team-paragraph,
  .community-wrapper p,
  .docs-main p {
    font: 1rem/1.5rem var(--primary-font);
    font-weight: 300;
    margin: 2rem 0;
  }

  .about-img {
    width: 100%;
    margin: auto;
  }

  /* key features section */
  .key-features-wrapper,
  .team,
  .community-wrapper {
    padding: 3rem 0;
  }

  .card-container,
  .team-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 2rem 0;
  }

  .card-vector {
    padding: 1rem 0;
  }

  .cards {
    padding: 1rem;
    border-radius: 5px;
  }

  .cards:hover {
    box-shadow: -1px 1px 20px 2px rgba(0, 0, 0, 0.75);

    /* -webkit-box-shadow: -1px 1px 20px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 1px 20px 1px rgba(0,0,0,0.75); */
    transition: 0.2s ease-in;
    transform: scale(1.01, 1.01);
  }

  .cards h2,
  .card-title {
    font: 1rem/1.5rem var(--primary-font);
    font-weight: bold;
  }

  .address-container p,
  .smart-contract p {
    font: 1rem/1.5rem var(--primary-font);
    font-weight: 300;
    margin: 2rem  0;
  }

  .card-text,
  .cards p {
    font: 0.875rem/1.4rem var(--primary-font);
    font-weight: 300;
  }

  /* team */
  .image-flip:hover .backside,
  .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: 0.25rem;
  }

  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }

  .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
  }

  .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }

  .frontside,
  .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    transition: 0.5s;
    transform-style: preserve-3d;
  }

  .team {
    background: #c8e3ff;
  }

  .team-wrapper h2,
  .community-wrapper h2 {
    font: 1.8rem/2.3rem var(--primary-font);
    font-weight: 500;
    margin: 0 0 1rem 0;
    letter-spacing: 0.04em;
  }

  .card {
    min-height: 290px;
  }

  /* community */

  /* use app */
  .useapp {
    overflow: hidden;
  }

  .wallet-container {
    padding: 5rem 0;
    overflow: hidden;
  }

  .wallet-container::-webkit-scrollbar {
    background: none;
  }

  .wallets {
    background: var(--light-grey);
    padding: 3rem 0.5rem;
    border-radius: 10px;
    margin: 5rem 0;
  }

  .wallets button {
    font: 0.9rem/1.5rem var(--primary-font);
    font-weight: 500;
    padding: 0.5rem 1rem;
    min-width: 230px;
    border-radius: 10px;
    outline: none;
    border: none;
  }

  .wallets button:hover {
    transform: scale(1.02, 1.02);
  }

  .wallets li {
    margin: 0.5rem 0;
  }

  #close {
    margin-top: -3.5rem;
  }

  .address-container {
    overflow: hidden;
  }

  .address-container p {
    word-break: break-all;
  }

  .address-container::-webkit-scrollbar {
    background: transparent;
  }

  .smart-contract {
    margin: 5rem 0;
  }

  .hide-text.hide-opacity {
    opacity: 0;
  }

  .hide-text {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1;
  }

  /* docs */
  .doc-content {
    margin-left: -75px;
  }

  .doc-wrapper {
    width: 100%;
    padding: 0 2rem 0 0;
    margin: 5rem auto;
  }

  .docs-main h1 {
    font: 1.5rem/1.5rem var(--primary-font);
    font-weight: 500;
  }

  .docs-main h2 {
    font: 1.2rem/1.5rem var(--primary-font);
    font-weight: 500;
  }

  aside ul li a {
    font: 1rem/1.5rem var(--primary-font);
    font-weight: bold;
  }

  aside ul li {
    padding: 1rem 0.2rem 0.5rem 1rem;
  }

  aside ul {
    padding: 0 0 10rem 0;
    margin: 0;
  }

  aside div {
    background: var(--white);
    width: 91%;
    margin: auto;
    height: 2px;
  }

  .hr {
    background: var(--white);
    width: 100%;
    margin: auto;
    height: 2px;
  }

  .darkModeSideBar {
    margin-left: -3600%;
  }

  .lightModeSideBar {
    margin-left: 0;
    width: 260%;
  }

  .sidebar-constant {
    z-index: 2;
    transition: all 0.2s ease-out;
  }

  .roadmap {
    width: 100%;
    margin: 1rem 0;
  }
}

@media all and (min-width: 320px) {
  .wallets button {
    font: 1rem/1.5rem var(--primary-font);
    min-width: 250px;
    font-weight: 500;
  }
}

@media all and (min-width: 375px) {
  .wallets button {
    min-width: 300px;
  }

  .wallets {
    padding: 3rem 0.5rem;
  }
}

@media all and (min-width: 425px) {
  .about-img {
    width: 350px;
  }

  .wallets {
    padding: 3rem 1rem;
  }

  #close {
    margin-top: -3rem;
  }
}

@media all and (min-width: 768px) {
  .card-container,
  .team-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-img {
    padding: 0 0 0 2rem;
  }

  .about-wrapper div p,
  .team-paragraph,
  .community-wrapper p,
  .docs-main p {
    font: 1.125rem/1.8rem var(--primary-font);
    margin: 2rem 0;
    font-weight: 300;
  }

  .community-wrapper p {
    width: 70%;
  }

  .team-paragraph {
    width: 70%;
  }

  .card {
    min-height: 300px;
  }

  .cards:last-child {
    grid-column: span 2;
  }
}

@media all and (min-width: 1024px) {
  .wrapper,
  .useapp,
  .docs {
    width: 90%;
    margin: auto;
  }

  .hero-text {
    padding: 12rem 0;
  }

  .hero-text p,
  .key-features-header,
  .about-section h2,
  .team-paragraph,
  .community-wrapper h1 {
    font: 2rem/3rem var(--primary-font);
    letter-spacing: 0.04em;
    font-weight: 500;
  }

  .hero-text h1 {
    font: 3rem/4rem var(--primary-font);
    font-weight: bold;
    margin: 0 0 1rem 0;
  }

  .about-img {
    padding: 2rem;
    width: 100%;
  }

  .about-wrapper div {
    width: 90%;
  }

  .card-container,
  .team-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards h2,
  .card-title {
    font: 1.2rem/1.5rem var(--primary-font);
    font-weight: bold;
  }

  .card-text,
  .cards p {
    font: 1rem/1.8rem var(--primary-font);
    font-weight: 300;
  }

  .cards {
    padding: 1.5rem;
  }

  .card {
    min-height: 380px;
  }

  .key-features-wrapper,
  .team,
  .community-wrapper,
  .wallet-container,
  .about-section {
    padding: 4rem 0;
  }

  .about-wrapper div p,
  .team-paragraph,
  .community-wrapper p,
  .docs-main p {
    font: 1.125rem/2rem var(--primary-font);
    font-weight: 300;
  }

  .team-wrapper h2,
  .community-wrapper h2 {
    font: 2rem/2.5rem var(--primary-font);
    font-weight: 500;
    margin: 0 0 1rem 0;
    letter-spacing: 0.04em;
  }

  .team-paragraph {
    width: 60%;
  }

  .team-container {
    padding: 6rem 0;
  }

  .wallets button {
    min-width: 350px;
  }

  .wallets {
    padding: 5rem 3rem;
  }

  .doc-wrapper {
    width: 70%;
    padding: 0;
    margin: auto;
  }

  .doc-content {
    width: 90%;

    /* padding: 0 2rem; */
    margin: auto;
  }

  .sidebar {
    width: 30%;
    margin: 0 auto;
  }

  .darkModeSideBar {
    margin-left: 0;
  }

  .lightModeSideBar {
    margin-left: 0;
    width: 100%;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .hr {
    width: 60%;
    margin-left: 0;
  }

  .smart-contract {
    margin: 0;
    padding: 5rem 0 10rem 0;
  }
}

@media all and (min-width: 1440px) {
  .hero-text p,
  .key-features-header,
  .about-section h2,
  .team-wrapper h1,
  .community-wrapper h1 {
    font: 3rem/4rem var(--primary-font);
    letter-spacing: 0.04em;
    font-weight: 500;
  }

  .hero-text h1 {
    font: 4rem/5rem var(--primary-font);
    font-weight: bold;
    margin: 0 0 1rem 0;
  }

  .about-wrapper div {
    width: 100%;
  }

  .about-wrapper div p,
  .team-paragraph,
  .community-wrapper p {
    width: 95%;
    font-weight: 300;
  }

  .community-wrapper p {
    width: 60%;
  }

  .about-img {
    padding: 5rem;
    width: 100%;
    margin-top: -5rem;
  }

  .community-wrapper p a {
    color: currentColor;
  }

  .team-paragraph {
    width: 50%;
  }

  .key-features-wrapper,
  .team,
  .community-wrapper,
  .wallet-container {
    padding: 10rem 0;
  }

  .team-wrapper,
  .community-wrapper {
    background: url('../icons/bg3.svg');
    background-size: 100px;
    background-repeat: no-repeat;
  }

  .card {
    min-height: 280px;
  }

  .doc-content {
    width: 80%;
  }

  .doc-wrapper {
    width: 100%;
  }

  .sidebar {
    width: 50%;
  }

  .card {
    min-width: 288px;
  }
}

@media all and (min-width: 2500px) {
  .wrapper,
  .useapp,
  .docs {
    width: 60%;
  }
}
